footer {
  background-color: var(--orange);
  padding: 100px 0;
}
footer .footer_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  list-style: none;
  padding: 0;
}
