main h1 {
  margin-top: 50px;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  text-align: center;

  color: #ffbe2e;
}
main h1 span {
  color: var(--black);
}
main h2 {
  margin-top: 55px;
  max-width: 1277px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;

  color: #3e3b3b;
}
main .main-text p {
  margin-top: 40px;
  margin-left: 26vw;
}
